*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--primary: #d43008;
	--secondary: #42b4ff;
}
html {
	height: 100%;
}
body {
	background-image: linear-gradient(to bottom, transparent, var(--sk-bg-1)),
		radial-gradient(circle at 40% 30%, #ebf3f9, #d6dee4);
	min-height: 100%;
	margin: 0;
	padding: 0.5em;
}
