*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--primary: #d43008;
	--secondary: #42b4ff;
}
html {
	height: 100%;
}
body {
	background-image: linear-gradient(
			to bottom,
			var(--secondary) 4%,
			lightgrey 5%,
			transparent 5%,
			transparent 95%,
			lightgrey 95%,
			var(--secondary) 96%
		),
		linear-gradient(to bottom, transparent, #fff),
		radial-gradient(circle at 40% 30%, #ebf3f9, #d6dee4);
	height: 100%;
	margin: 0;
	padding: 5vh 0.5em;
}
